* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* BASICS */

a,
button:hover {
    cursor: pointer;
}


/* FONTS */

@font-face {
    src: url(../fonts/impact/impact.ttf);
    font-family: impact;
}


/* HELPERS */

.flex {
    display: flex;
}

.flex.justify-content {
    justify-content: center;
}

.flex.align-items {
    align-items: center;
}

.flex-end {
    align-self: flex-end;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.direction-column {
    flex-direction: column;
}

.flex.direction-rows {
    flex-direction: row;
}

.align-self-center {
    align-self: center;
}

.main-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/* COMPONENTS */

main {
    background-color: rgb(231, 231, 231);
}

.logo img {
    height: 22px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 2fr));
    grid-auto-rows: 300px;
    gap: 10px;
    overflow: hidden;
}

header {
    background-color: #408af8;
}

.menu li:first-of-type {
    margin-inline-end: 20px;
}

.menu li {
    height: 66px;
    width: 66px;
}

.nav-btn {
    height: 100%
}

.img-container {
    height: 933px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image:hover {
    cursor: pointer;
}

.image1 {
    background: url("../meme-imgs/1.jpg");
    background-position: center center;
    background-size: cover;
}

.image2 {
    background: url("../meme-imgs/2.jpg");
    background-position: center center;
    background-size: cover;
}

.gallery {
    margin-bottom: 10px;
}

.editor {
    height: 601px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #E3E3E3;
}

.canvas-container {
    flex-basis: 60%;
    max-width: 500px;
    max-height: 500px;
    margin: 10px;
}

.normal-edit {
    flex-basis: 40%;
}

.text-input {
    font-size: 1.25rem;
    font-weight: bold;
    grid-area: 1 / 1 / 1 / 6;
}

.normal-edit {
    margin: 10px;
}

#my-canvas {
    width: 100%;
    height: 100%;
}

.text-editor {
    flex-basis: 20%;
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(3, 60px);
    grid-gap: 5px;
}

.advanced-edit {
    flex-basis: 60%;
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 5px;
}

.editor-btn {
    background-color: white;
    border-radius: 20px;
}

.button-image {
    width: 75%;
}

.profile {
    margin-bottom: 100px;
}

.profile-container {
    width: 892px;
    height: 323px;
    background-color: white;
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 15px;
}

.social-link:hover {
    background-color: #408af8;
}

.icon {
    width: 25px;
    height: 25px;
}

.linkedin-logo {
    width: 15px;
    height: 15px;
}

.facebook-icon {
    width: 15px;
    height: 15px;
}

.photo-container {
    border: 5px solid white;
    border-radius: 150px;
    margin-inline-end: 50px;
}

.my-photo {
    width: 250px;
    border-radius: 150px;
    object-fit: cover;
}

.links-list>* {
    margin-inline-start: 5px;
}

.footer {
    bottom: 0;
    background: #408af8;
}

.footer-title {
    margin-top: 75px;
}

.footer-small {
    margin-bottom: 75px;
}